<a href="https://colab.research.google.com/github/SPlearning27/DDDS-My-Projects/blob/main/Project-5/%20SP_Project5__NLP_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Natural Language Processing

This project will give you practical experience using Natural Language Processing techniques. This project is in three parts:
- in part 1) you will use a dataset in a CSV file
- in part 2) you will use the Wikipedia API to directly access content
on Wikipedia.
- in part 3) you will make your notebook interactive

In [ ]:
import numpy as np
import pandas as pd
import re

from textblob import TextBlob
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.neighbors import NearestNeighbors

pd.options.display.max_columns = 100

import nltk
# nltk.download('omw-1.4')
nltk.download('punkt_tab')
# nltk.download('averaged_perceptron_tagger_eng')

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [ ]:
%%capture
!python -m textblob.download_corpora

# Part 1)

- The CSV file is available at https://ddc-datascience.s3.amazonaws.com/Projects/Project.5-NLP/Data/NLP.csv
- The file contains a list of famous people and a brief overview.
- The goal of part 1) is to ...
  1. Pick one person from the list ( the target person ) and output 10 other people who's overview are "closest" to the target person in a Natural Language Processing sense
  1. Also output the sentiment of the overview of the target person

In [ ]:
url = "https://ddc-datascience.s3.amazonaws.com/Projects/Project.5-NLP/Data/NLP.csv"
!curl -s -I {url}

HTTP/1.1 200 OK
x-amz-id-2: rsbVVkt7ltMUT91TWfBS733Vgsr1X1FvZUmp1ryqLoF1IQoUIaG8GGMEGJh6e+iuwws4S6X2dfs=
x-amz-request-id: 07K02KM9RF9VGHAE
Date: Tue, 15 Jul 2025 20:13:09 GMT
Last-Modified: Mon, 23 Oct 2023 18:30:29 GMT
ETag: "f4f3b3bc07aa7b6dddb6e383fc52ae64-10"
x-amz-server-side-encryption: AES256
Accept-Ranges: bytes
Content-Type: text/csv
Content-Length: 83886080
Server: AmazonS3

In [ ]:
!curl -s -O {url}

In [ ]:
ls -la

total 81936
drwxr-xr-x 1 root root     4096 Jul 15 20:13 ./
drwxr-xr-x 1 root root     4096 Jul 15 17:58 ../
drwxr-xr-x 4 root root     4096 Jul 14 13:37 .config/
-rw-r--r-- 1 root root 83886080 Jul 15 20:13 NLP.csv
drwxr-xr-x 1 root root     4096 Jul 14 13:37 sample_data/

In [ ]:
!head -1 NLP.csv | tr , '\n' | cat -n

     1	URI
     2	name
     3	text

In [ ]:
og_npl_data = pd.read_csv(url)
og_npl_data

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...
...,...,...,...
42781,<http://dbpedia.org/resource/Motoaki_Takenouchi>,Motoaki Takenouchi,motoaki takenouchi born july 8 1967 saitama pr...
42782,<http://dbpedia.org/resource/Alan_Judge_(footb...,"Alan Judge (footballer, born 1960)",alan graham judge born 14 may 1960 is a retire...
42783,<http://dbpedia.org/resource/Eduardo_Lara>,Eduardo Lara,eduardo lara lozano born 4 september 1959 in c...
42784,<http://dbpedia.org/resource/Tatiana_Faberg%C3...,Tatiana Faberg%C3%A9,tatiana faberg is an author and faberg scholar...
42785,<http://dbpedia.org/resource/Kenneth_Thomas>,Kenneth Thomas,kenneth thomas born february 24 1938 was chief...

In [ ]:
og_npl_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42786 entries, 0 to 42785
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   URI     42786 non-null  object
 1   name    42786 non-null  object
 2   text    42786 non-null  object
dtypes: object(3)
memory usage: 1002.9+ KB

## Data Cleaning

- To clean all special characters in the 'name' column

In [ ]:
npl_data_clean_temp1 = og_npl_data.copy()

In [ ]:
# Apply the regex replacement to the 'name' column
npl_data_clean_temp1['name'] = npl_data_clean_temp1['name'].str.replace(r'\(.*?\)', '', regex=True).str.strip()
print(npl_data_clean_temp1)

                                                     URI  \
0            <http://dbpedia.org/resource/Digby_Morrell>
1           <http://dbpedia.org/resource/Alfred_J._Lewy>
2            <http://dbpedia.org/resource/Harpdog_Brown>
3      <http://dbpedia.org/resource/Franz_Rottensteiner>
4                   <http://dbpedia.org/resource/G-Enka>
...                                                  ...
42781   <http://dbpedia.org/resource/Motoaki_Takenouchi>
42782  <http://dbpedia.org/resource/Alan_Judge_(footb...
42783         <http://dbpedia.org/resource/Eduardo_Lara>
42784  <http://dbpedia.org/resource/Tatiana_Faberg%C3...
42785       <http://dbpedia.org/resource/Kenneth_Thomas>

                       name                                               text
0             Digby Morrell  digby morrell born 10 october 1979 is a former...
1            Alfred J. Lewy  alfred j lewy aka sandy lewy graduated from un...
2             Harpdog Brown  harpdog brown is a singer and harmonica player...
3       Franz Rottensteiner  franz rottensteiner born in waidmannsfeld lowe...
4                    G-Enka  henry krvits born 30 december 1974 in tallinn ...
...                     ...                                                ...
42781    Motoaki Takenouchi  motoaki takenouchi born july 8 1967 saitama pr...
42782            Alan Judge  alan graham judge born 14 may 1960 is a retire...
42783          Eduardo Lara  eduardo lara lozano born 4 september 1959 in c...
42784  Tatiana Faberg%C3%A9  tatiana faberg is an author and faberg scholar...
42785        Kenneth Thomas  kenneth thomas born february 24 1938 was chief...

[42786 rows x 3 columns]

In [ ]:
# define regular expression
pattern = r'[^a-zA-Z\s]'

# replace characters that're not matching the expression in the pattern
for pop in ['name']:
    npl_data_clean_temp1['name'] = npl_data_clean_temp1[pop].str.replace(pattern, '', regex=True).str.strip()
#Remove extra spaces that might result from removal (e.g., "  ")
    npl_data_clean_temp1['name'] = npl_data_clean_temp1['name'].str.strip().str.replace(r'\s+', ' ', regex=True)

print("\nDataFrame after cleaning 'name' column:")
print(npl_data_clean_temp1)

DataFrame after cleaning 'name' column:
                                                     URI                 name  \
0            <http://dbpedia.org/resource/Digby_Morrell>        Digby Morrell
1           <http://dbpedia.org/resource/Alfred_J._Lewy>        Alfred J Lewy
2            <http://dbpedia.org/resource/Harpdog_Brown>        Harpdog Brown
3      <http://dbpedia.org/resource/Franz_Rottensteiner>  Franz Rottensteiner
4                   <http://dbpedia.org/resource/G-Enka>                GEnka
...                                                  ...                  ...
42781   <http://dbpedia.org/resource/Motoaki_Takenouchi>   Motoaki Takenouchi
42782  <http://dbpedia.org/resource/Alan_Judge_(footb...           Alan Judge
42783         <http://dbpedia.org/resource/Eduardo_Lara>         Eduardo Lara
42784  <http://dbpedia.org/resource/Tatiana_Faberg%C3...     Tatiana FabergCA
42785       <http://dbpedia.org/resource/Kenneth_Thomas>       Kenneth Thomas

                                                    text
0      digby morrell born 10 october 1979 is a former...
1      alfred j lewy aka sandy lewy graduated from un...
2      harpdog brown is a singer and harmonica player...
3      franz rottensteiner born in waidmannsfeld lowe...
4      henry krvits born 30 december 1974 in tallinn ...
...                                                  ...
42781  motoaki takenouchi born july 8 1967 saitama pr...
42782  alan graham judge born 14 may 1960 is a retire...
42783  eduardo lara lozano born 4 september 1959 in c...
42784  tatiana faberg is an author and faberg scholar...
42785  kenneth thomas born february 24 1938 was chief...

[42786 rows x 3 columns]

In [ ]:
# Check nulls in the columns
npl_data_clean_temp1.isnull().sum()

URI     0
name    0
text    0
dtype: int64

In [ ]:
npl_data_clean_temp2 = npl_data_clean_temp1['text'].astype(str).str.replace(',', '').replace("\n"," ").replace("'s",'').replace("'",'').str.strip()

print(npl_data_clean_temp2)

0        digby morrell born 10 october 1979 is a former...
1        alfred j lewy aka sandy lewy graduated from un...
2        harpdog brown is a singer and harmonica player...
3        franz rottensteiner born in waidmannsfeld lowe...
4        henry krvits born 30 december 1974 in tallinn ...
                               ...
42781    motoaki takenouchi born july 8 1967 saitama pr...
42782    alan graham judge born 14 may 1960 is a retire...
42783    eduardo lara lozano born 4 september 1959 in c...
42784    tatiana faberg is an author and faberg scholar...
42785    kenneth thomas born february 24 1938 was chief...
Name: text, Length: 42786, dtype: object

## Convert to Text blob

In [ ]:
%%capture
# Install textblob
!pip install -U textblob

In [ ]:
%%capture
!python -m textblob.download_corpora

In [ ]:
# Make a textblob
npl_text_blob = npl_data_clean_temp2.apply(lambda text: TextBlob(text))

In [ ]:
npl_text_blob

0        (d, i, g, b, y,  , m, o, r, r, e, l, l,  , b, ...
1        (a, l, f, r, e, d,  , j,  , l, e, w, y,  , a, ...
2        (h, a, r, p, d, o, g,  , b, r, o, w, n,  , i, ...
3        (f, r, a, n, z,  , r, o, t, t, e, n, s, t, e, ...
4        (h, e, n, r, y,  , k, r, v, i, t, s,  , b, o, ...
                               ...
42781    (m, o, t, o, a, k, i,  , t, a, k, e, n, o, u, ...
42782    (a, l, a, n,  , g, r, a, h, a, m,  , j, u, d, ...
42783    (e, d, u, a, r, d, o,  , l, a, r, a,  , l, o, ...
42784    (t, a, t, i, a, n, a,  , f, a, b, e, r, g,  , ...
42785    (k, e, n, n, e, t, h,  , t, h, o, m, a, s,  , ...
Name: text, Length: 42786, dtype: object

In [ ]:
npl_text_blob[42782]

TextBlob("alan graham judge born 14 may 1960 is a retired professional footballer who is the seventh oldest player to play in the football league he played as a goalkeeperduring his career he played for various clubs at all tiers of the league he was part of the oxford united team which won the milk cup in 1986 he also briefly served as a backup goalkeeper for chelsea in the european cup winners cupoften referred to as the judge after retiring from the professional game alan worked as a driving instructor and goalkeeping coach at several clubs including swindon and oxford occasionally acting as emergency goalkeeping cover in 2001 he organised a rerun of the 1986 milk cup final against qpr for charity on 18 march 2003 at the age of 42 he played his first football league match since leaving hereford united in 1994 he helped oxford to a 11 draw with cambridge united making a vital save in stoppage time during the 200304 season he also made several appearances for didcot town he made a second appearance for oxford on 6 november 2004 at the age of 44 years and 176 days this made him the seventh oldest footballer ever to have appeared in the football league or premier league 1judge now plays for banbury united and has made 17 league appearances so far this season he is also a goalkeeping coach at oxford city")

In [ ]:
# Singularize the word from TextBlob
# Singularize each word in the text
# Join it together into a single string
npl_blob_singular = npl_text_blob[:].apply(lambda x: ' '.join([y.singularize() for y in x.words]))
npl_blob_singular

0        digby morrell born 10 october 1979 is a former...
1        alfred j lewy aka sandy lewy graduated from un...
2        harpdog brown is a singer and harmonica player...
3        franz rottensteiner born in waidmannsfeld lowe...
4        henry krvit born 30 december 1974 in tallinn b...
                               ...
42781    motoaki takenouchi born july 8 1967 saitama pr...
42782    alan graham judge born 14 may 1960 is a retire...
42783    eduardo lara lozano born 4 september 1959 in c...
42784    tatiana faberg is an author and faberg scholar...
42785    kenneth thoma born february 24 1938 wa chief f...
Name: text, Length: 42786, dtype: object

## BoW using CountVectorizer

- Pertorm the count transformation

In [ ]:
npl_vectorizer = CountVectorizer(stop_words='english')
npl_bow_vec = npl_vectorizer.fit_transform(npl_blob_singular)

In [ ]:
type(npl_bow_vec), npl_bow_vec.shape

(scipy.sparse._csr.csr_matrix, (42786, 404869))

In [ ]:
#npl_bow_vec.toarray()

In [ ]:
npl_vectorizer.get_feature_names_out()

array(['00', '000', '0000', ..., 'zzebra', 'zzran', 'zzt'], dtype=object)

In [ ]:
#npl_vec_df = pd.DataFrame(npl_bow_vec.toarray(), columns = npl_vectorizer.get_feature_names_out() )

## TF-IDF using TfidfTransformer
- Perform the TF-IDF transformation

In [ ]:
# Perform the TF-IDF transformation
tf_idf_vec = TfidfTransformer()
npl_tf_idf = tf_idf_vec.fit_transform(npl_bow_vec)

#npl_tf_idf.toarray()

## K Nearest Neighbors

- To find the nearest neighbor

In [ ]:
nn = NearestNeighbors().fit(npl_tf_idf)

- To create a reference matrix used to get the nearest neighbors distance

In [ ]:
# Create a reference matrix from Tf-IDF matrix
# Specify the target person as entried at the index no. 42782
npl_ref_matrix = npl_tf_idf[42782]

In [ ]:
npl_ref_matrix.shape

(1, 404869)

- To get the nearest neighbors distances

In [ ]:
# Get nearest neighbors distances of the target person and the closest 10 people
distances, indices = nn.kneighbors(
  X = npl_ref_matrix,
  n_neighbors = 11,
)

In [ ]:
# calculated distance of the target person
distances[0]

array([0.        , 1.21001444, 1.21221996, 1.21439732, 1.21827016,
       1.2195035 , 1.22471136, 1.2252636 , 1.22746783, 1.22767495,
       1.23418686])

In [ ]:
indices[0]

array([42782, 34838, 23099, 24116, 25507,  3785, 19611,  4113, 31709,
        4300, 21696])

In [ ]:
# recall the information of the target person and the closest 10 people from the original dataframe
og_npl_data.iloc[indices[0]]

,URI,name,text
42782,<http://dbpedia.org/resource/Alan_Judge_(footb...,"Alan Judge (footballer, born 1960)",alan graham judge born 14 may 1960 is a retire...
34838,<http://dbpedia.org/resource/Len_Bond>,Len Bond,len bond born 2 december 1954 is an english fo...
23099,<http://dbpedia.org/resource/Matt_Green_(footb...,Matt Green (footballer),matthew james matt green born 2 january 1987 i...
24116,<http://dbpedia.org/resource/Tony_Smith_(footb...,"Tony Smith (footballer, born 1957)",anthony tony smith born 20 february 1957 is a ...
25507,<http://dbpedia.org/resource/Peter_Rhoades-Brown>,Peter Rhoades-Brown,peter rhoadesbrown born 2 january 1962 in hamp...
3785,<http://dbpedia.org/resource/Steve_Arnold_(foo...,"Steve Arnold (footballer, born 1951)",stephen frank arnold born 5 january 1951 is an...
19611,<http://dbpedia.org/resource/George_Harris_(fo...,"George Harris (footballer, born 1940)",george harris born 10 june 1940 is an englishb...
4113,<http://dbpedia.org/resource/Keith_Waugh>,Keith Waugh,keith waugh born 27 october 1956 is an english...
31709,<http://dbpedia.org/resource/Nick_Colgan>,Nick Colgan,nicholas vincent nick colgan born 19 september...
4300,<http://dbpedia.org/resource/Peter_Hucker>,Peter Hucker,peter hucker born 28 october 1959 is an englis...
21696,<http://dbpedia.org/resource/Gary_Hooper>,Gary Hooper,gary hooper born 26 january 1988 is an english...

In [ ]:
# To print the calculated distance values along with the information of each index from the 'text' column
for a,b in zip(distances[0], np.array(npl_blob_singular)[indices][0]):
  print(f"{a:.4f}: {b}")

0.0000: alan graham judge born 14 may 1960 is a retired professional footballer who is the seventh oldest player to play in the football league he played a a goalkeeperduring hi career he played for variou club at all tier of the league he wa part of the oxford united team which won the milk cup in 1986 he also briefly served a a backup goalkeeper for chelsea in the european cup winner cupoften referred to a the judge after retiring from the professional game alan worked a a driving instructor and goalkeeping coach at several club including swindon and oxford occasionally acting a emergency goalkeeping cover in 2001 he organised a rerun of the 1986 milk cup final against qpr for charity on 18 march 2003 at the age of 42 he played hi first football league match since leaving hereford united in 1994 he helped oxford to a 11 draw with cambridge united making a vital save in stoppage time during the 200304 season he also made several appearance for didcot town he made a second appearance for oxford on 6 november 2004 at the age of 44 year and 176 day thi made him the seventh oldest footballer ever to have appeared in the football league or premier league 1judge now play for banbury united and ha made 17 league appearance so far thi season he is also a goalkeeping coach at oxford city
1.2100: len bond born 2 december 1954 is an english former professional football goalkeeper he made more than 300 appearance in the football league including 168 for exeter city and 122 for brentfordbond wa born in ilminster somerset he began hi career a an apprentice with bristol city turning professional in september 1971 although he had made hi league debut on the last day of the previou season he remained at ashton gate for a further six year most of which wa spent a deputy to john shaw or ray cashley in november 1974 he wa loaned to exeter city playing 30 league gamesthe following season he wa loaned three time to torquay united in october 1975 to scunthorpe united in december 1975 and to colchester united in january 1976 before joining nasl side st loui star on loan for the 1976 season finally in august 1977 after 30 league game for bristol city bond moved to brentford where he wa to find regular firstteam football playing 122 league game in the next 3 yearsin october 1980 he returned to the southwest joining exeter city playing 138 league game before leaving league football and joining yeovil town he later joined weymouth from where he moved to bath city in october 1987 for a fee of 2000 he wa everpresent for the rest of the season but chose to return to yeovil town after city relegation from the conference at the end of the seasonhe remained with yeovil until hi retirement although did have a loan spell with gloucester city from november 1990 and played three game for them the following season soon after hi retirement a chance meeting with alan ball led to him becoming goalkeeping coach at exeter city while also running a newsagent in exeter he subsequently worked a a coach at a number of club before coaching in the united state he returned to the uk and worked with a number of club a well a coaching the fa youth academy he spent three year a goalkeeping coach with bristol city youth academy before another spell coaching in the united stateson hi return he coached at exeter city and torquay united before returning a goalkeeping coach to yeovil town he then joined bristol rover a goalkeeping coach in 2011 bond left yeovil town to concentrate on hi sportswear busines
1.2122: matthew jame matt green born 2 january 1987 is an english footballer who play for birmingham city a a strikergreen started hi senior career at conference south side newport county in 2005 having been released from bristol city youth academy he made 56 league appearance for newport county in a twoseason spell at the club before joining championship side cardiff city in january 2007 having made six appearance for cardiff during the 200607 season he had three loan spell away from the club the following season one at league two club darlington in october 2007 where he made five appearance and two for conference premier side oxford united where he made 21 appearance released by cardiff at the end of the 200708 season he switched to conference side torquay united in may 2008 he made 29 league appearance for torquay during the 200809 season but joined oxford united for a third loan spell the following season having made 41 league appearance for oxford during the 200910 season he signed a permanent deal with the club where he made a further 17 appearance he spent the latter half of the 201011 season on loan to league two side cheltenham town where he made 19 league appearance and then joined conference side mansfield town in july 2011 initially on loan but permanently from january 2012 onward he made 87 league appearance for mansfield scoring 54 goal before signing for birmingham city
1.2144: anthony tony smith born 20 february 1957 is a former footballer who played a a central defender in the football league in the 1970 and 1980she wa born in sunderland but joined newcastle united a a youth and made hi senior debut a a substitute for nigel walker against wolverhampton wanderer on 12 november 1977 he started the next match at home to arsenal but wa not able to make any more senior appearance in a struggling team smith wa transferred to peterborough united in march 1979smith quickly made hi debut for peterborough in a football league third division match against swansea city on 10 march 1979 with hi first goal following a fortnight later against plymouth argyle hi first cup game came early the following season a football league cup match against blackpool on 5 september 1979 hi final game for the posh wa at the end of the 198182 season against wigan athletic in all he made 68 football league appearance for the club 75 in all senior competitionssmith then moved to join halifax town and after 83 league match for them he signed for hartlepool united first playing a league game for them in the 198485 season he made 200 league appearance for hartlepool with hi final league game played in the 198889 season
1.2183: peter rhoadesbrown born 2 january 1962 in hampton london is a retired english footballerrhoadesbrown played a a leftwinger for chelsea from 1979 to 1983 during hi fmy year with chelsea he scored fmy league goal when chelsea signed winger mickey thoma in january 1984 rhoadesbrown wa sold to oxford united for 85000he immediately gained a regular place with oxford but the problem of accommodating kevin brock saw rhoadesbrown become les of a permanent feature in the second division championship side an untimely injury coincidentally against queen park ranger oxford wembley opponent prevented him from playing in the 1986 milk cup final he stayed with oxford until 1989 when injury forced hi retirement hi last game being at bristol city on 11 october 1989 in total he played 87 league match for oxford plu 25 substitute appearance scoring 13 goal in competitive game he played 113 time plu 29 a a substitute scoring 16 goal he remain at oxford united where he work a busines development manager for the club a testimonial match between an oxford united xi and a chelsea xi wa held for him at the kassam stadium on 30 april 2007 in front of a crowd of 5130 among the player who appeared in the match were rhoadesbrown former oxford team mate ray houghton joey beauchamp and exengland manager steve mcclaren
1.2195: stephen frank arnold born 5 january 1951 is an english former professional footballer who played in the football league a a midfielder for crewe alexandra liverpool southport torquay united and rochdalearnold wa born in willesden london he began hi football career a an apprentice at crewe alexandra turning professional in january 1969 and making hi league debut the same season hi talent wa soon spotted by bigger team and in september 1970 after only 15 league appearance he became a forerunner to the many player to leave crewe for the top flight when he joined liverpool for a fee of 12000 he failed to establish himself at anfield making only two league appearance hi only start wa in the penultimate league match of the season away to manchester city when bill shankly made ten change to protect hi firstchoice player before the fair cup semifinal against leed united just two day later incurring a heavy fine from the football leaguein january 1972 he wa sent on loan to southport scoring 3 time in 16 league appearance and in september of the following season he wa loaned to torquay united making hi debut in the goalles draw away to bury on 2 september he played twice more for the gull scoring in hi final appearance a 21 defeat away to league newcomer hereford united on 30 september in june 1973 he left anfield moving to rochdale where he wa to end hi league career after only one season of regular firstteam football making 40 league appearance and scoring oncehe went on to play nonleague football for weymouth scoring 14 goal from 57 appearance and on loan to dorchester town 13 appearance before injury forced hi retirement
1.2247: george harri born 10 june 1940 is an englishborn footballer who played a a winger in the football league in the 1960 and early 1970safter starting with woking he moved to newport county and played 31 league game for them in the 196162 season before moving to watford he played 163 league game for the hornet and scored 55 goalsin 1966 harri moved to reading and he remained with the berkshire club until 1969 gaining the player of the season award in 196667 in all he made 156 appearance for reading scoring 66 goalshe left reading to join cambridge united and played for them in their first ever football league season in 197071 on 15 august 1970 he appeared for cambridge in their first ever football league match against lincoln city and a fortnight later he scored hi first football league goal for cambridge against oldham athletic on 14 november 1970 he became the first cambridge player to score more than one goal for united in a football league match when he scored two goal against hi former club newport county in total he made 35 football league appearance for cambridge scoring on 11 occasionsa of february 2009 harri wa living in reading
1.2253: keith waugh born 27 october 1956 is an englishborn footballer who played a a goalkeeper in the football league between the 1970 and 1990 most notably with peterborough united sheffield united and bristol cityhe started a a trainee with sunderland but did not play any league game with them and he moved to peterborough united first playing a league game for them in 197677 he went on to make 195 league appearance for the poshhe moved to sheffield united in 1981 for a fee of 220000 and made 99 league appearance for the clubhe moved to bristol city in the mid1980 although he had loan spell at bristol city and cambridge united during the 198485 season before hi permanent move to the robinswaugh wa to make 167 league appearance for the ashton gate club including appearing in the 1986 football league trophy final before a brief spell at coventry city in the late 1980 he then moved to watford and made a total of 7 league appearance for them on 23 march 1993 he wa recalled to the watford team for the first time in 14 month against newcastle united and put in an excellent performance in watford 10 victory hi final football league appearance came against charlton athletic on 6 april 1993 after hi playing career finished he remained at watford a youth team coach
1.2275: nichola vincent nick colgan born 19 september 1973 is an irish former professional footballer who work a the head goalkeeping coach for football championship side huddersfield towna a player he wa a goalkeeper from 1991 to 2013 and first briefly played for hi hometown club drogheda united between 1991 and 1992 before signing for premier league side chelsea whilst at stamford bridge he often found himself a backup to the like of dmitrus kharine and frode groda and spent time on loan at crewe alexandra grimsby town millwall brentford and reading he joined bournemouth permanently in 1998 where he stayed for a year before a move to scottish premier league club hibernian colgan made over 120 appearance in the league between 1999 and 2004 and went on to earn hi first full international cap for the republic of ireland in 2004 following a loan spell with stockport county he joined barnsley where he played for fmy year and also helping the club to promotion to the football league championship in 2006 in 2008 he joined ipswich town a an understudy to stephen bywater but left the club a few month later after failing to make an appearance and with that returned to the premier league when he joined sunderland a year later he returned to grimsby town and wa the first choice keeper when the club were to lose their football league following relegation to the conference colgan lost hi place in the team the following year and wa loaned out to huddersfield town before later making the move permanentduring the 201112 season colgan began coaching youngster back at former club barnsley a well a continuing to play with huddersfield in july 2012 he signed a new contract with huddersfield to make him the club academy goalkeeping coach a well a still making himself available a a player
1.2277: peter hucker born 28 october 1959 is an english former footballer who played a a goalkeeper in the football league during the 1980 and early 1990sborn in hampstead he joined queen park ranger a a schoolboy in december 1974 signed apprentice form in july 1976 and turned professional in july 1977 making hi league debut against shrewsbury town in 1981 hucker had been at the club since he wa a junior but had played very few gameshe had seen a succession of manager bring their own preferred goalkeeper in while he bided hi time in the reserveshe got hi big chance in a fa cup third round tie at loftu road in 1982 against middlesbrough the firstchoice keeper at the time john burridge wa injured but wa also not very keen on playing on the synthetic playing surface that loftu road had at the time hucker played very well in the cup tie and retained hi place for the remainder of the season including in the 1982 fa cup final against tottenham hotspur in which he wa voted the man of the match for hi performance in the first game in which he played extremely well despite being injuredhucker wa to play a key role the following season a well a qpr stormed to the second division title and then the following year a ranger finished top london club in the 198384 season qualifying for the uefa cup like many of the talented player of that team hi form suffered a terry venable left the club in 1984 to be replaced by alan mullery he lost hi place during the 198586 season to paul barron and he transferred to oxford united in february 1987 hucker played 160 league game for qprin a threeyear spell at oxford hucker played 66 league match but toward the end of hi time there he went on several loan spell first to west bromwich albion in 198788 making seven appearance and then twice to manchester united without making a single appearancehe finished hi career in nonleague football and went on to establish a successful goalkeeping coaching school after retiring from the game
1.2342: gary hooper born 26 january 1988 is an english professional footballer who play a a forward for norwich cityhooper started hi career at nonleague gray athletic in 2003 while there he won the 200405 conference south a well a the fa trophy twice in 2005 and 2006 after thi championship club southend united signed him on a free transfer in 2006 he wa loaned out twice by the club on a threemonth loan to league one club leyton orient in 2007 and a sixmonth loan to league two club hereford united in 2008 scunthorpe united signed him in 2008 for a fee of 175000 after two year he wa signed by scottish premier league side celtic for 24 million in hi first season with the club he wa the top scorer and also won the 2011 scottish cuphooper ha scored in the premier league championship league one league two fa cup league cup football league trophy fa trophy uefa champion league uefa europa league scottish cup scottish league cup and the scottish premier league the first and only player to achieve thi feat on top of thi he ha also scored in the conference premier and the conference southhooper wa born in england but ha not represented the national team at any level in march 2011 it wa thought that he may be eligible to represent scotland however thi possibility wa later closed off since hi move to celtic he ha been considered for england duty and wa called up to the under21 squad for a friendly but had to pull out due to injury he wa then included in the provisional squad for the 2011 european under21 championship but did not go to the tournament

# Part 2)

- For the same target person that you chose in Part 1), use the Wikipedia API to access the whole content of the target person's Wikipedia page.
- The goal of Part 2) is to ...
  1. Print out the text of the Wikipedia article for the target person
  1. Determine the sentiment of the text of the Wikipedia page for the target person
  1. Collect the text of the Wikipedia pages from the 10 nearest neighbors from Part 1)
  1. Determine the nearness ranking of these 10 people to your target person based on their entire Wikipedia page
  1. Compare, i.e. plot,  the nearest ranking from Step 1) with the Wikipedia page nearness ranking.  A difference of the rank is one means of comparison.

### Using Wikipedia API

- Install Wikipedia API

In [ ]:
%%capture output
#install Wikipedia API
!pip3 install wikipedia-api

In [ ]:
import wikipediaapi
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import re

- Pull out page from Wikipedia

In [ ]:
# https://en.wikipedia.org/wiki/Alan_Judge_(English_footballer)
topic = 'Alan_Judge_(English_footballer)'
wikip = wikipediaapi.Wikipedia('foobar')
page_ex = wikip.page(topic)
wiki_text = page_ex.text
wiki_text

"Alan Graham Judge (born 14 May 1960) is an English retired professional footballer, who is the seventh oldest player to play in the Football League. He played as a goalkeeper.\nDuring his career he played for various clubs at all tiers of the League. He was part of the Oxford United team that won the Milk Cup in 1986. He also briefly served as a backup goalkeeper for Chelsea in the European Cup Winners' Cup.\nOften referred to as The Judge, after retiring from the professional game he worked as a driving instructor and goalkeeping coach at several clubs including Swindon and Oxford, occasionally acting as emergency goalkeeping cover. In 2001, he organised a re-run of the 1986 Milk Cup Final against QPR, for charity.\nOn 18 March 2003, at the age of 42, he played his first Football League match since leaving Hereford United in 1994. He helped Oxford to a 1â€“1 draw with Cambridge United, making a vital save in stoppage time. During the 2003â€“04 season he also played for Didcot Town. He made a second appearance for Oxford on 6 November 2004, at the age of 44 years and 176 days. This made him the seventh oldest footballer ever to have appeared in the Football League or Premier League. During this season he also played for Chipping Norton Town.\n\n\n== References =="

### Text Cleaning

- Replace newline chars with spaces before doing any processing. Strip the ' and "s" from possessives.

In [ ]:
wiki_text_clean = (
  wiki_text
  .lower()
  .replace("\n"," ")
  .replace("\'s",'')
  .replace('\'','')
  .replace("(", "")
  .replace(")", "")
  .replace('"', "")
)
wiki_text_clean

'alan graham judge born 14 may 1960 is an english retired professional footballer, who is the seventh oldest player to play in the football league. he played as a goalkeeper. during his career he played for various clubs at all tiers of the league. he was part of the oxford united team that won the milk cup in 1986. he also briefly served as a backup goalkeeper for chelsea in the european cup winners cup. often referred to as the judge, after retiring from the professional game he worked as a driving instructor and goalkeeping coach at several clubs including swindon and oxford, occasionally acting as emergency goalkeeping cover. in 2001, he organised a re-run of the 1986 milk cup final against qpr, for charity. on 18 march 2003, at the age of 42, he played his first football league match since leaving hereford united in 1994. he helped oxford to a 1â€“1 draw with cambridge united, making a vital save in stoppage time. during the 2003â€“04 season he also played for didcot town. he made a second appearance for oxford on 6 november 2004, at the age of 44 years and 176 days. this made him the seventh oldest footballer ever to have appeared in the football league or premier league. during this season he also played for chipping norton town.   == references =='

#### Convert to TextBlob

In [ ]:
# Convert to textblob
wiki_blob = TextBlob(wiki_text_clean)
wiki_blob

TextBlob("alan graham judge born 14 may 1960 is an english retired professional footballer, who is the seventh oldest player to play in the football league. he played as a goalkeeper. during his career he played for various clubs at all tiers of the league. he was part of the oxford united team that won the milk cup in 1986. he also briefly served as a backup goalkeeper for chelsea in the european cup winners cup. often referred to as the judge, after retiring from the professional game he worked as a driving instructor and goalkeeping coach at several clubs including swindon and oxford, occasionally acting as emergency goalkeeping cover. in 2001, he organised a re-run of the 1986 milk cup final against qpr, for charity. on 18 march 2003, at the age of 42, he played his first football league match since leaving hereford united in 1994. he helped oxford to a 1â€“1 draw with cambridge united, making a vital save in stoppage time. during the 2003â€“04 season he also played for didcot town. he made a second appearance for oxford on 6 november 2004, at the age of 44 years and 176 days. this made him the seventh oldest footballer ever to have appeared in the football league or premier league. during this season he also played for chipping norton town.   == references ==")

In [ ]:
# Check how many sentences are in this textblob
len(wiki_blob.sentences)

12

### Sentiment analysis of text in Wikipedia

Note: .sentiment cannot be used with str (for the ErrorMessage)

In [ ]:
# sentiment analysis of the whole text from Wikipedia
polarity_wiki = wiki_blob.sentiment.polarity
subjectivity_wiki = wiki_blob.sentiment.subjectivity
print(f"The text of Wikipedia on Alan_Judge_(English_footballer) has polarity of {polarity_wiki: .4f} and subjectivity of {subjectivity_wiki: .4f}.")

The text of Wikipedia on Alan_Judge_(English_footballer) has polarity of  0.0115 and subjectivity of  0.2436.

#### Convert sentences in TextBlob to strings

In [ ]:
# 12 sentences in TextBlob
api_sentences = wiki_blob.sentences
api_sentences

[Sentence("alan graham judge born 14 may 1960 is an english retired professional footballer, who is the seventh oldest player to play in the football league."),
 Sentence("he played as a goalkeeper."),
 Sentence("during his career he played for various clubs at all tiers of the league."),
 Sentence("he was part of the oxford united team that won the milk cup in 1986. he also briefly served as a backup goalkeeper for chelsea in the european cup winners cup."),
 Sentence("often referred to as the judge, after retiring from the professional game he worked as a driving instructor and goalkeeping coach at several clubs including swindon and oxford, occasionally acting as emergency goalkeeping cover."),
 Sentence("in 2001, he organised a re-run of the 1986 milk cup final against qpr, for charity."),
 Sentence("on 18 march 2003, at the age of 42, he played his first football league match since leaving hereford united in 1994. he helped oxford to a 1â€“1 draw with cambridge united, making a vital save in stoppage time."),
 Sentence("during the 2003â€“04 season he also played for didcot town."),
 Sentence("he made a second appearance for oxford on 6 november 2004, at the age of 44 years and 176 days."),
 Sentence("this made him the seventh oldest footballer ever to have appeared in the football league or premier league."),
 Sentence("during this season he also played for chipping norton town."),
 Sentence("== references ==")]

In [ ]:
# Convert text blob sentences to strings
api_sentences_str = [ str(x) for x in api_sentences ]
api_sentences_str

['alan graham judge born 14 may 1960 is an english retired professional footballer, who is the seventh oldest player to play in the football league.',
 'he played as a goalkeeper.',
 'during his career he played for various clubs at all tiers of the league.',
 'he was part of the oxford united team that won the milk cup in 1986. he also briefly served as a backup goalkeeper for chelsea in the european cup winners cup.',
 'often referred to as the judge, after retiring from the professional game he worked as a driving instructor and goalkeeping coach at several clubs including swindon and oxford, occasionally acting as emergency goalkeeping cover.',
 'in 2001, he organised a re-run of the 1986 milk cup final against qpr, for charity.',
 'on 18 march 2003, at the age of 42, he played his first football league match since leaving hereford united in 1994. he helped oxford to a 1â€“1 draw with cambridge united, making a vital save in stoppage time.',
 'during the 2003â€“04 season he also played for didcot town.',
 'he made a second appearance for oxford on 6 november 2004, at the age of 44 years and 176 days.',
 'this made him the seventh oldest footballer ever to have appeared in the football league or premier league.',
 'during this season he also played for chipping norton town.',
 '== references ==']

#### Using TfidfTransformer

In [ ]:
# Perform the TF-IDF Vectorization
tf_idf_vec = TfidfVectorizer(stop_words = 'english')
tf_idf_pp = tf_idf_vec.fit_transform(api_sentences_str)
tf_idf_pp.shape

(12, 89)

In [ ]:
tf_idf_pp

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 116 stored elements and shape (12, 89)>

In [ ]:
np.set_printoptions(precision=6, formatter=None)
tf_idf_vec.get_feature_names_out()

array(['04', '14', '176', '18', '1960', '1986', '1994', '2001', '2003',
       '2004', '42', '44', 'acting', 'age', 'alan', 'appearance',
       'appeared', 'backup', 'born', 'briefly', 'cambridge', 'career',
       'charity', 'chelsea', 'chipping', 'clubs', 'coach', 'cover', 'cup',
       'days', 'didcot', 'draw', 'driving', 'emergency', 'english',
       'european', 'final', 'football', 'footballer', 'game',
       'goalkeeper', 'goalkeeping', 'graham', 'helped', 'hereford',
       'including', 'instructor', 'judge', 'league', 'leaving', 'making',
       'march', 'match', 'milk', 'norton', 'november', 'occasionally',
       'oldest', 'organised', 'oxford', 'play', 'played', 'player',
       'premier', 'professional', 'qpr', 'references', 'referred',
       'retired', 'retiring', 'run', 'save', 'season', 'second', 'served',
       'seventh', 'stoppage', 'swindon', 'team', 'tiers', 'time', 'town',
       'united', 'various', 'vital', 'winners', 'won', 'worked', 'years'],
      dtype=object)

In [ ]:
# Print out results in a dataframe
target_tf_df = pd.DataFrame(tf_idf_pp.toarray(), columns = tf_idf_vec.get_feature_names_out())
target_tf_df.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11
04,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.466561,0.000000,0.0,0.0,0.0
14,0.269906,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
176,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.329668,0.0,0.0,0.0
18,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.216628,0.000000,0.000000,0.0,0.0,0.0
1960,0.269906,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
vital,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.216628,0.000000,0.000000,0.0,0.0,0.0
winners,0.000000,0.0,0.0,0.235363,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
won,0.000000,0.0,0.0,0.235363,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
worked,0.000000,0.0,0.0,0.000000,0.225438,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0
years,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.329668,0.0,0.0,0.0

## Wikipedia of the 10 closest people

In [ ]:
target_pp = og_npl_data.iloc[indices[0]]

In [ ]:
# Create a dataframe of the target person and the closest 10 people from part 1
target_pp_df = pd.DataFrame(target_pp)
target_pp_df

,URI,name,text
42782,<http://dbpedia.org/resource/Alan_Judge_(footb...,"Alan Judge (footballer, born 1960)",alan graham judge born 14 may 1960 is a retire...
34838,<http://dbpedia.org/resource/Len_Bond>,Len Bond,len bond born 2 december 1954 is an english fo...
23099,<http://dbpedia.org/resource/Matt_Green_(footb...,Matt Green (footballer),matthew james matt green born 2 january 1987 i...
24116,<http://dbpedia.org/resource/Tony_Smith_(footb...,"Tony Smith (footballer, born 1957)",anthony tony smith born 20 february 1957 is a ...
25507,<http://dbpedia.org/resource/Peter_Rhoades-Brown>,Peter Rhoades-Brown,peter rhoadesbrown born 2 january 1962 in hamp...
3785,<http://dbpedia.org/resource/Steve_Arnold_(foo...,"Steve Arnold (footballer, born 1951)",stephen frank arnold born 5 january 1951 is an...
19611,<http://dbpedia.org/resource/George_Harris_(fo...,"George Harris (footballer, born 1940)",george harris born 10 june 1940 is an englishb...
4113,<http://dbpedia.org/resource/Keith_Waugh>,Keith Waugh,keith waugh born 27 october 1956 is an english...
31709,<http://dbpedia.org/resource/Nick_Colgan>,Nick Colgan,nicholas vincent nick colgan born 19 september...
4300,<http://dbpedia.org/resource/Peter_Hucker>,Peter Hucker,peter hucker born 28 october 1959 is an englis...
21696,<http://dbpedia.org/resource/Gary_Hooper>,Gary Hooper,gary hooper born 26 january 1988 is an english...

In [ ]:
# 10 Closest people
# https://en.wikipedia.org/wiki/Len_Bond
# https://en.wikipedia.org/wiki/Matt_Green_(footballer)
# https://en.wikipedia.org/wiki/Tony_Smith_(footballer,_born_1957)
# https://en.wikipedia.org/wiki/Peter_Rhoades-Brown
# https://en.wikipedia.org/wiki/Steve_Arnold_(footballer,_born_1951)
# https://en.wikipedia.org/wiki/George_Harris_(footballer,_born_1940)
# https://en.wikipedia.org/wiki/Keith_Waugh
# https://en.wikipedia.org/wiki/Nick_Colgan
# https://en.wikipedia.org/wiki/Peter_Hucker
# https://en.wikipedia.org/wiki/Gary_Hooper

title = ['Len_Bond',
         'Matt_Green_(footballer)',
         'Tony_Smith_(footballer,_born_1957)',
         'Peter_Rhoades-Brown',
         'Steve_Arnold_(footballer,_born_1951)',
         'George_Harris_(footballer,_born_1940)',
         'Keith_Waugh',
         'Nick_Colgan',
         'Peter_Hucker',
         'Gary_Hooper'
         ]

wikip = wikipediaapi.Wikipedia('foobar')

# Initialize an empty list to store the Wikipedia texts
all_wiki_texts = []

for topic_title in title:
    page_ex = wikip.page(topic_title)

    if page_ex.exists():
        wiki_text = page_ex.text
        all_wiki_texts.append(wiki_text) # Add the text to the list
        print(f"--- Collected text for: {topic_title} ---")
    else:
        print(f"--- Warning: Page for '{topic_title}' does not exist. Skipping. ---")

# Now, 'all_wiki_texts' contains all the collected Wikipedia article texts
print("\n--- All collected texts (500 characters) : ---")
for i, text in enumerate(all_wiki_texts):
    print(f"Article {i+1}: {text[:500]}...") # Print 500 characters of each collected text

--- Collected text for: Len_Bond ---
--- Collected text for: Matt_Green_(footballer) ---
--- Collected text for: Tony_Smith_(footballer,_born_1957) ---
--- Collected text for: Peter_Rhoades-Brown ---
--- Collected text for: Steve_Arnold_(footballer,_born_1951) ---
--- Collected text for: George_Harris_(footballer,_born_1940) ---
--- Collected text for: Keith_Waugh ---
--- Collected text for: Nick_Colgan ---
--- Collected text for: Peter_Hucker ---
--- Collected text for: Gary_Hooper ---

--- All collected texts (500 characters) : ---
Article 1: Len Bond (born 2 December 1954) is an English former professional football goalkeeper. He made more than 300 appearances in the Football League, including 168 for Exeter City and 122 for Brentford.

Career
Bond was born in Ilminster, Somerset. He began his career as an apprentice with Bristol City, turning professional in September 1971, although he had made his league debut on the last day of the previous season. He remained at Ashton Gate for a further six years, most of which was spent as dep...
Article 2: Matthew James Green (born 2 January 1987) is a former English footballer who played as a striker.
Green started his senior career at Conference South club Newport County in 2005, having been released from Bristol City's youth academy. He made 56 league appearances for Newport County in a two-season spell at the club, before joining Championship side Cardiff City in January 2007. Having made six appearances for Cardiff during the 2006â€“07 season, he had three loan spells away from the club the fol...
Article 3: Anthony Smith (born 20 February 1957) is an English former footballer who played as a central defender in The Football League in the 1970s and 1980s.
He was born in Sunderland but joined Newcastle United as a youth, and made his senior debut as a substitute for Nigel Walker against Wolverhampton Wanderers on 12 November 1977. He started the next match at home to Arsenal, but was not able to make any more senior appearances in a struggling team. Smith was transferred to Peterborough United in Mar...
Article 4: Peter Rhoades-Brown (born 2 January 1962) is an English retired footballer.
Rhoades-Brown played as a left-winger for Chelsea from 1979 to 1983; during his four years with Chelsea, he scored four League goals. When Chelsea signed winger Mickey Thomas in January 1984, Rhoades-Brown was sold to Third Division side Oxford United for Â£85,000.
He immediately gained a regular place with Oxford, helping them win promotion to the First Division for the first time. An untimely injury, coincidentally agai...
Article 5: Stephen Frank Arnold (born 5 January 1951) is an English former professional footballer who played in the Football League as a midfielder for Crewe Alexandra, Liverpool, Southport, Torquay United and Rochdale.

Life and career
Arnold was born in Willesden, London. He began his football career as an apprentice at Crewe Alexandra, turning professional in January 1969 and making his league debut the same season. His talent was soon spotted by bigger teams and in September 1970, after only 15 league...
Article 6: George Alfred Harris (10 June 1940 â€“ 8 February 2022) was an English footballer who played as a winger in the Football League in the 1960s and early 1970s.
Harris was born on 10 June 1940. After starting with Woking he moved to Newport County and played 31 League games for them in the 1961â€“62 season, before moving to Watford. He played 163 League games for the Hornets and scored 55 goals.
In 1966 Harris moved to Reading, and he remained with the Berkshire club until 1969, gaining the player of t...
Article 7: Keith Waugh (born 27 October 1956) is an English-born footballer who played as a goalkeeper in the Football League between the 1970s and 1990s, most notably with Peterborough United, Sheffield United and Bristol City.
He started as a trainee with Sunderland, but did not play any League games with them, and he moved to Peterborough United, first playing a league game for them in 1976â€“77. He went on to make 195 League appearances for The Posh.
He moved to Sheffield United in 1981 for a fee of Â£100...
Article 8: Nicholas Vincent Colgan (born 19 September 1973) is an Irish football coach and former professional footballer who is goalkeeping coach at EFL League One side Stockport County.
As a player, he was a goalkeeper from 1991 to 2013 and first briefly played for his hometown club Drogheda United between 1991 and 1992 before signing for Premier League side Chelsea. Whilst at Stamford Bridge he often found himself as back-up to the likes of Dmitri Kharine and Frode Grodas and spent time on loan at Crewe...
Article 9: Peter Hucker (born 28 October 1959) is an English former footballer who played as a goalkeeper in The Football League during the 1980s and early 1990s.
Born in Hampstead, he joined Queens Park Rangers as a schoolboy in December 1974, signed apprentice forms in July 1976 and turned professional in July 1977, making his league debut against Shrewsbury Town in 1981. Hucker had been at the club since he was a junior but had played very few games. He had seen a succession of managers bring their own ...
Article 10: Gary Hooper (born 26 January 1988) is an English professional footballer who plays as a forward for Maldon & Tiptree.
Hooper started his career at non-League club Grays Athletic in 2003. While there he won the 2004â€“05 Conference South, as well as the FA Trophy twice in 2005 and 2006. After this Championship club Southend United signed him on a free transfer in 2006. He was loaned out twice by the club, on a three-month loan to League One club Leyton Orient in 2007 and a six-month loan to League ...

## Nearness Ranking
- 10 people to the target person

In [ ]:
# Combine all steps to obtain Nearness Ranking to 'Alan_Judge_(English_footballer)' based on Wikipedia content
# Step 1. Define your data and target person
people_titles = [
    'Len_Bond',
    'Matt_Green_(footballer)',
    'Tony_Smith_(footballer,_born_1957)',
    'Peter_Rhoades-Brown',
    'Steve_Arnold_(footballer,_born_1951)',
    'George_Harris_(footballer,_born_1940)',
    'Keith_Waugh',
    'Nick_Colgan',
    'Peter_Hucker',
    'Gary_Hooper'
]
# Target person
target_person_title = 'Alan_Judge_(English_footballer)'

# Step 2. Fetch Wikipedia content
# note: foobar = user_agent
wikip = wikipediaapi.Wikipedia('foobar')

def get_wiki_text(title):
    page = wikip.page(title)
    if page.exists():
        text = page.text
        # Remove text within parentheses like "(born 1957)" from the start of sections
        text = re.sub(r'\([^)]*\)', '', text)
        # Remove common Wikipedia section headers and "See also", "References"
        text = re.sub(r'==\s*[^=]+\s*==', '', text)
        text = re.sub(r'== See also ==|== References ==|== External links ==', '', text)
        # Remove non-alphanumeric and remove extra spaces
        text = re.sub(r'[^a-zA-Z\s]', '', text)
        text = re.sub(r'\s+', ' ', text).strip()
        return text
    else:
        print(f"Warning: Page for '{title}' does not exist. Skipping.")
        return None

# Collect all texts, including the target person
all_texts = {}
for title in people_titles + [target_person_title]:
    text = get_wiki_text(title)
    if text:
        all_texts[title] = text

# Separate the target person's text from the rest
target_text = all_texts.pop(target_person_title, None)
if target_text is None:
    print(f"Error: Could not retrieve Wikipedia page for target person: {target_person_title}")
    exit() # Exit if target person's page is not found

# Prepare the list of texts for vectorization
corpus_titles = list(all_texts.keys())
corpus_texts = list(all_texts.values())

# Add target text to the corpus for consistent vectorization
corpus_texts_with_target = corpus_texts + [target_text]
corpus_titles_with_target = corpus_titles + [target_person_title]

# Step 3. Vectorize the Text
# TfidfVectorizer converts a collection of raw documents to a matrix of TF-IDF features.
# It handles lowercasing, punctuation removal, and stop word removal by default.
vectorizer = TfidfVectorizer(stop_words='english', max_features=5000) # max_features to limit vocabulary size
tfidf_matrix = vectorizer.fit_transform(corpus_texts_with_target)

# The last row of the tfidf_matrix corresponds to the target person's text
target_person_vector = tfidf_matrix[-1]
other_people_vectors = tfidf_matrix[:-1]

# Step 4. Calculate Similarities (Cosine Similarity)
# Reshape target_person_vector to be 2D for cosine_similarity
similarities = cosine_similarity(target_person_vector.reshape(1, -1), other_people_vectors)

# Take the first row only
similarity_scores = similarities[0]

# Step 5. Rank by Nearness
# Create a list of (person_title, similarity_score) tuples
ranked_people = [] # list name (an empty variable)
for i, score in enumerate(similarity_scores):
    ranked_people.append((corpus_titles[i], score))

# Sort the list by similarity score in descending order (highest similarity is "nearest")
ranked_people.sort(key=lambda x: x[1], reverse=True)

print(f"\nNearness Ranking to '{target_person_title}' based on Wikipedia content:")
for rank, (person, score) in enumerate(ranked_people):
    print(f"{rank + 1}. {person}: {score:.4f} (Similarity)") # format score to 4 decimal points

Nearness Ranking to 'Alan_Judge_(English_footballer)' based on Wikipedia content:
1. Peter_Rhoades-Brown: 0.2671 (Similarity)
2. Peter_Hucker: 0.2359 (Similarity)
3. Tony_Smith_(footballer,_born_1957): 0.2065 (Similarity)
4. Steve_Arnold_(footballer,_born_1951): 0.1906 (Similarity)
5. George_Harris_(footballer,_born_1940): 0.1899 (Similarity)
6. Len_Bond: 0.1802 (Similarity)
7. Keith_Waugh: 0.1760 (Similarity)
8. Matt_Green_(footballer): 0.1641 (Similarity)
9. Nick_Colgan: 0.1502 (Similarity)
10. Gary_Hooper: 0.1253 (Similarity)

In [ ]:
import matplotlib.pyplot as plt

# Part 3)

Make an interactive notebook where a user can choose or enter a name and the notebook displays the 10 closest individuals.

In [ ]:
!curl -s https://ddc-datascience.s3.amazonaws.com/Projects/Project.5-NLP/Data/NLP.csv | wc -l

42786

In [ ]:
from ipywidgets import interact

## Do not know how to fix the code below...still figuring out...

In [ ]:
# Target person
target_person_title = 'Alan_Judge_(English_footballer)'

@interact(text = ['Len Bond',
                  'Matt Green',
                  'Tony Smith',
                  'Peter Rhoades-Brown',
                  'Steve Arnold',
                  'George Harris',
                  'Keith Waugh',
                  'Nick Colgan',
                  'Peter Hucker',
                  'Gary Hooper'])
def knn(text):
  distances, indices = nn.kneighbors(
  X = npl_ref_matrix,
  n_neighbors = 11,
  )
  for a,b in (distances[0], np.array(npl_blob_singular)[indices][0]):
   print(f"The distance of {text} from {target_person_title} is {distances:.4f}: {indices}".format(text))

interactive(children=(Dropdown(description='text', options=('Len Bond', 'Matt Green', 'Tony Smith', 'Peter Rhoâ€¦

# References

- Module 5: Data cleanning | TextBlob | TF-IDF transformation | K Nearest Neighbors
  - Lecture 2b: https://colab.research.google.com/drive/1eIY8PPxqnH4izK7WV9BS5lX7S2WnnzDz?authuser=1#scrollTo=xDuCEa4Z-mwb
  - Lecture 3c: https://colab.research.google.com/drive/1IJ4Kzy6OX78YcEd8B6-DQxuBnftBqz98?authuser=1#scrollTo=xDuCEa4Z-mwb
  - Lecture 4a: https://colab.research.google.com/drive/1im3J4Y0xgtn_rPA8ETJ_43q4VQjoNs6n?authuser=1#scrollTo=yuFf00oinAiU

- Module 4: Interact
  - Lecture 2g: https://colab.research.google.com/drive/1dy0VG55NfM9zv_eosKJ1xbYXVbNHSodW?authuser=1#scrollTo=xAoHSexy5d8W